USE [master]
GO
/****** Object:  Database [RECEIPT_408530045]    Script Date: 2021/6/17 上午 12:04:28 ******/
CREATE DATABASE [RECEIPT_408530045]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RECEIPT_408530045', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RECEIPT_408530045.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RECEIPT_408530045_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RECEIPT_408530045_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RECEIPT_408530045].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RECEIPT_408530045]
GO
/****** Object:  User [Fred]    Script Date: 2021/6/17 上午 12:04:28 ******/
CREATE USER [Fred] FOR LOGIN [Fred] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Fred]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 2021/6/17 上午 12:04:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[UniformID] [nchar](8) NOT NULL,
	[TaxID] [nchar](9) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[PersonName] [varchar](10) NOT NULL,
	[Tel] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UniformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2021/6/17 上午 12:04:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UniformID] [nchar](8) NOT NULL,
	[Two] [int] NOT NULL,
	[Three] [int] NOT NULL,
	[TwoCashier] [int] NOT NULL,
	[ThreeCashier] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Accept] [bit] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Office]    Script Date: 2021/6/17 上午 12:04:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Office](
	[Name] [nchar](10) NOT NULL,
	[ID] [nchar](5) NOT NULL,
	[Tel] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GetOffice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paper]    Script Date: 2021/6/17 上午 12:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paper](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UniformID] [nchar](8) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[PID] [nchar](10) NULL,
	[GID] [nchar](5) NULL,
	[Date] [date] NOT NULL,
	[Accept] [bit] NULL,
 CONSTRAINT [PK_Paper] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 2021/6/17 上午 12:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Name] [varchar](10) NOT NULL,
	[Tel] [nchar](10) NOT NULL,
	[ID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GetPerson] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Company] FOREIGN KEY([UniformID])
REFERENCES [dbo].[Company] ([UniformID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Company]
GO
ALTER TABLE [dbo].[Paper]  WITH CHECK ADD  CONSTRAINT [FK_Paper_Company] FOREIGN KEY([UniformID])
REFERENCES [dbo].[Company] ([UniformID])
GO
ALTER TABLE [dbo].[Paper] CHECK CONSTRAINT [FK_Paper_Company]
GO
ALTER TABLE [dbo].[Paper]  WITH CHECK ADD  CONSTRAINT [FK_Paper_Office] FOREIGN KEY([GID])
REFERENCES [dbo].[Office] ([ID])
GO
ALTER TABLE [dbo].[Paper] CHECK CONSTRAINT [FK_Paper_Office]
GO
ALTER TABLE [dbo].[Paper]  WITH CHECK ADD  CONSTRAINT [FK_Paper_Person] FOREIGN KEY([PID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[Paper] CHECK CONSTRAINT [FK_Paper_Person]
GO
USE [master]
GO
